---
import { Image } from "astro:assets";
import { showBuyAudiobookButton, showAmazonTag, book } from "../config.json";
---

<main
  class="mx-auto max-w-screen-xl px-4 mb-8 mt-12 sm:mt-12 sm:mb-12 sm:px-6 md:mt-32 md:mb-20 xl:mt-23 xl:mb-24"
>
  <div class="lg:grid lg:grid-cols-12 lg:gap-8">
    <div class="mb-12 md:max-w-1xl md:mx-auto lg:col-span-8">
      <h1
        class="mt-1 text-4xl tracking-tight leading-10 font-extrabold text-gray-900 sm:leading-none sm:text-6xl lg:text-5xl xl:text-6xl uppercase"
      >
      Natalee Harrigan<br class="hidden md:inline" /><span
          class="underline"> BSc TechIOSH</span
        >
      </h1><p
        class="mt-3 text-base text-gray-500 sm:mt-5 sm:text-xl lg:text-lg xl:text-xl font-body"
      >
      Mrs. Natalee Harrigan is an Occupational Safety and Health Professional with a background in Environmental Management. She possesses a degree from the University of the West Indies and professional qualifications from the UK National Examination Board for Occupational Safety and Health.
      </p><p
        class="mt-3 text-base text-gray-500 sm:mt-5 sm:text-xl lg:text-lg xl:text-xl font-body"
      >
      Her career spans 14 years including both public sector and private sector work. She has held responsibility for implementing and maintaining safety management systems and has worked across various industries from manufacturing to property management. 
      </p>
      <p
        class="mt-3 text-base text-gray-500 sm:mt-5 sm:text-xl lg:text-lg xl:text-xl font-body"
      >
      Natalee has a unique mind which is both analytical and creative and her talents have been brought to bear for the benefit of several organisations. 
      </p>
      <div>
        <div class="mt-5 sm:mt-8 sm:flex sm:justify-center lg:justify-start">
          <div>
            <a
              href="mailto:natalee.harrigan@gmail.com"
              target="_blank"
              class="w-full flex items-center justify-center px-8 py-3 border border-transparent text-base leading-6 rounded-md font-semibold text-black bg-book-theme hover:bg-yellow-200 focus:outline-none transition duration-300 ease-in-out md:py-4 md:text-lg md:px-10"
              >Request a Health and Safety Audit</a
            >
          </div>
        </div>
      </div>
    </div><div
      class="mt-12 relative sm:max-w-lg sm:mx-auto lg:mt-0 lg:max-w-none lg:mx-0 lg:col-span-4 lg:flex lg:items-center"
    >
      <div class="book-container"
        ><div class="book">
          <Image
            src={"/natalee-harrigan.png"}
            width={400}
            height={800}
            alt={book.title}
            format={"avif"}
          />
        </div>
      </div>
    </div>
  </div>
</main>
